<footer>
    <div class="container">
      <div class="row text-start">
        
        <!-- Logo -->
        <div class="col-md-3 mb-4">
          <div class="logo">
            <img src="./images/logo.png" alt="LushMe Logo">
          </div>
        </div>
  
        <!-- Info -->
        <div class="col-md-2 mb-4">
          <div class="footer-title">Info</div>
          <ul class="list-unstyled">
            <li><a href="#" class="footer-link">Contact us</a></li>
            <li><a href="#" class="footer-link">About us</a></li>
          </ul>
        </div>
  
        <!-- Policies -->
        <div class="col-md-3 mb-4">
          <div class="footer-title">Policies</div>
          <ul class="list-unstyled">
            <li><a href="#" class="footer-link">Privacy Notice</a></li>
            <li><a href="#" class="footer-link">Return policy</a></li>
            <li><a href="#" class="footer-link">Terms and Conditions</a></li>
            <li><a href="#" class="footer-link">Cookie Policy</a></li>
          </ul>
        </div>
  
        <!-- Newsletter -->
        <div class="col-md-4 mb-4">
          <div class="footer-title">Subscribe to Our News Letter</div>
          <form class="d-flex mb-3 newsletter-input">
            <input type="email" class="form-control rounded-2" placeholder="Email Address">
          </form>
          <div class="social-icons">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
  
      </div>
  
      <!-- Bottom -->
      <div class="footer-bottom text-center mt-4">
        &copy; 2025 |  | All Rights Reserved. | We Give You Style.
      </div>
    </div>
  </footer>